{%extends 'plantilla.html'%}

{%block body%}

<h1 class="display-1 text-center mt-5 mb-5 text-danger" >Eliminar Medico</h1>

<div class="col-md-6 mt-5 rounded p-4 shadow-sm mx-auto">
    <div class="border rounded p-4 bg-dark text-white"> 
        <form class="Formulario" action="/delete" method="POST">

            <h1 class="display-1 text-center mt-5 mb-5 text-danger">Eliminar Registro</h1>
    
    
    
                <div class="col-md-6 mt-5 rounded p-4 shadow-sm ">
                <div class="border rounded p-4 bg-dark text-white">    
                    
                    <div class="mb-3"> <input  class="form-control type="text" name="RFC" value="{{ album.0 }}"> </div>
                    <div class="mb-3">  <input  class="form-control type="text" name="Nombre" value="{{ album.1 }}"> </div>
                    <div class="mb-3"> <input  class="form-control type="number" name="Cedula" value="{{ album.2 }}"> </div>
                    <div class="mb-3"> <input  class="form-control type="number" name="Correo" value="{{ album.3 }}"> </div>
                    <div class="mb-3"> <input  class="form-control type="number" name="Contraseña" value="{{ album.4 }}"> </div>
                    <div class="mb-3"> <input  class="form-control type="number" name="Rol" value="{{ album.5 }}"> </div>
                        
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-success"> Editar </button>
                    </div>
                        
                        
                </div>
                </div>
                
        </form> 
        
        <button onclick="location.href='http://127.0.0.1:5000/'">Cancelar</button>