{%extends 'plantilla2.html'%}

{%block body%}
{%with mensajes=get_flashed_messages()%}
{% if mensajes%}
    {%for msj in mensajes%}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>{{msj}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         <script>Swal.fire('Buen Trabajo!','La accion se llevo acabo correctamente','success')</script>
    {%endfor%}
{%endif%}
{%endwith%}

<h1 class="display-1 text-center mt-5 mb-5 text-danger" >Login</h1>

<div class="col-md-6 mt-5 rounded p-4 shadow-sm mx-auto">
    <div class="border rounded p-4 bg-dark text-white"> 
        <form class="Formulario" action="/iniciar" method="POST">

            <div class="form-group">
            
            <label for="RFC">RFC medico</label>
            <input type="text" class="form-control" name="txtrfc" required>
            
           
            
            <label for="con">Contraseña</label>
            <input type="password" class="form-control" name="txtpassword" required>
                
            </div>
    


            <button type="submit" class="btn btn-primary">Iniciar</button>
        </form>
    </div>
</div>



{%endblock%}